#anonymous-view {

}

#anonymous-view .container {
    display: flex;
}

#anonymous-view .container .bad, .good {
    padding: 14px;
}

#anonymous-view .container .good {
    background: lightgreen;
}

#anonymous-view .container .bad {
    background: lightcoral;
}
