#home-view {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 14px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 14px;
}

#home-view > button {
  background-color: red;
  color: white;
  border: none;
  height: 40px;
}

#home-view > button > a {
  color: white;
  text-decoration: none;
}
